<article>
  <h3>
    {% if sensor.name != None and sensor.name | length > 0 %}
    {{ sensor.name }}
    {% else %}
    Capteur #{{ sensor.id }}
    {% endif %}
  </h3>
  <section class="led">
    <h4>LED 🚨</h4>
    <div class="led-container">
      <ul>
        {% for led in sensor.led_status %}
        <li>[{{ led.date }}] - Etat : {{ "Allumé" if led.status else "Eteint" }}</li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <section class="push-button">
    <h4>Bouton poussoir 🔘</h4>
    <div class="push-button-container">
      <ul>
        {% for button in sensor.button_status %}
        <li>[{{ button.date }}] - Etat : {{ "Appuyé" if button.status else "Relaché" }}</li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <section class="light">
    <h4>Photorésistance 💡</h4>
    <div class="light-container">
      <ul>
        {% for pres in sensor.pres_status %}
        <li>[{{ pres.date }}] - Valeur : {{ pres.status }}%</li>
        {% endfor %}
      </ul>
    </div>
  </section>
</article>
