{% extends 'base.html' %}

{% block head %}
{% with title="Capteurs", local_scripts=['js/capteurs.js'], extern_scripts=['https://unpkg.com/mqtt@5.11.0/dist/mqtt.min.js'], stylesheets=['css/capteurs.css'] %}
{% include 'components/metadata.html' %}
{% endwith %}
{% endblock %}

{% block header %}
{% include 'components/noscript.html' %}
{% include 'components/header.html' %}
{% endblock %}

{% block content %}
{% include 'components/content_sensor.html' %}
{% endblock %}

{% block footer %}
{% include 'components/footer.html' %}
{% endblock %}
